*{
    padding: 0;
    margin: 0;
    text-decoration:none;
    list-style: none;
    box-sizing: border-box;
}
.imagen-portada{      
    width: 100%;    
    background-size:cover;
    background-position: center center;
    height: 2150px;
    background-image: url(../imagen/76256.jpg);
    background-size: 300%;
    animation: movimiento 10s infinite alternate;
}
.imagenes{
    display:flex; 
    justify-content: center;
}
@keyframes movimiento{

    from {background-position: bottom left;}
  to{background-position: top right;}   
}
.estilo{   
    display: flex;    
    width: 100%;
    justify-content: center;    
    font-size: 60px;
    color: aliceblue;
    font-family:sans-serif;
}
.galeria{
    display: inline;
    flex-wrap: wrap;
    padding: 20px 30px;
}
.columna{    
    flex: 100%;
    max-width: 80%;
    padding: 0 4px;
}
.columna{
    margin-top: 25px;
    vertical-align: top;
    width: 100%;    
}
