*{
    padding: 0;
    margin: 0;
    text-decoration:none;
    list-style: none;
    box-sizing: border-box;
}
.imagen-portada{   
    width: 1350px;
    height: 700px;
    background-size:cover;
    background-position: center center;
    height: 900px;
    background-image: url(../imagen/76256.jpg);
    background-size: 300%;
    animation: movimiento 10s infinite alternate;
}
@keyframes movimiento{

    from {background-position: bottom left;}
  to{background-position: top right;}
   
}
@media(max-width: 2736x){
    .imagen-portada{
        width: 2736px;
       height: 1824px;
    }
}
@media(max-width: 1920px){
    .imagen-portada{
        width: 1920px;
       height: 1080px;
    }    
}
@media(max-width: 1400px){
    .imagen-portada{
        width: 1400px;
       height: 480px;
    }    
}
 
.capa-gradient1{  
    width: 400px;
    height: 450px;

    filter: opacity(.7);    
    top: 140px;
    left: 50px;
    position: absolute;         

    background-image: url(../imagen/totto.jpg);   
    background-size: 100%;  
    box-shadow: 4px 10px 15px rgb(0, 0, 0,0.5);  
    
      
}
.capa-gradient2{
    width: 400px;
    height: 450px;

    filter: opacity(.7);    
    top: 140px;
    left: 485px;
    position: absolute;        

    background-image: url(../imagen/lili\ pink.jpg);   
    background-size: 100%;  
    box-shadow: 4px 10px 15px rgb(0, 0, 0,0.5);  
}
.capa-gradient3{
    width: 400px;
    height: 450px;

    filter: opacity(.7);
    top: 140px;
    left: 920px;
    position: absolute;        

    background-image: url(../imagen/suarez.jpg);
    background-size: 100%;
    box-shadow: 4px 10px 15px rgb(0, 0, 0,0.5);
}

.estilo{    
    font-size: 60px;
    color: aliceblue;
    font-family:sans-serif;

}